{% extends 'form-head.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('login') }}
{% endblock %}

{% block content %}
<div class="container py-5 h-100 mt-4">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-light text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <div class="mb-4">
                        <h2 class="fw-bold mb-5 text-uppercase text-primary d-flex justify-content-center align-items-center">
                            <img src="{{ asset('build/images/logo.png') }}" width="64" height="64"
                                    alt="Expennies Logo" />
                            Login
                        </h2>
                        <form action="/login" method="post" class="form-signin">
                            {{ csrf.fields | raw }}

                            <div class="form-group input-group mt-4">
                                <input name="email" class="form-control form-control-lg {{ errors.email ? 'is-invalid' : '' }}" placeholder="Email" value="{{ old.email }}" type="email">
                            </div>
                            <div class="invalid-feedback d-block">
                                {{ errors.email| first }}
                            </div>

                            <div class="form-group input-group mt-4">
                                <input name="password" class="form-control form-control-lg {{ errors.password ? 'is-invalid' : '' }}" placeholder="Password" type="password">
                            </div>
                            <div class="invalid-feedback d-block">
                                {{ errors.password| first }}
                            </div>
                            <p class="text-end">
                                <a class="text-secondary fw-semibold" href="/password-reset">Forgot password?</a>
                            </p>

                            <div class="form-group">
                                <button name="submit" type="submit" class="btn btn-primary btn-block btn-lg px-5"> Log In </button>

                                <p class="mt-4 text-dark">Don't have an account?
                                    <a href="/register" class="text-primary fw-bold">Sign Up</a>
                                </p>
                            </div>
                            <div class="d-block">
                                    
                            </div>
                        </form>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}